
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* STUFF WE'VE PUT IN */
body {
    background: url('chalk.jpg');
}

h4 {
    color: #ccc;
}

.jumbotron {
    background: url('jumbo-bg.png');
    color: #ddd;
    margin-bottom: -24px;
}

.jumbotron h1 {
    font-size: 58px;
    padding-bottom: 6px;
    margin-bottom: 18px;
    margin-top: 0px;
    font-family: 'Alegreya Sans SC', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    color: white;

    border-bottom: 4px solid #F5A2A2;
}

.jumbotron .row {
    margin-bottom: -48px;
}

p.lead {
    text-align: left;
}

.container .jumbotron .btn {
    margin-bottom: -24px;
    font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;

    background-color: #F5A2A2;
    border: 4px solid #F5A2A2;
    text-align: left;
}

.container .jumbotron a.btn:hover {
    border: 4px solid white;
}

.container .jumbotron .row {
    padding-bottom: 36px;
}

.marketing div {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.marketing h4, .marketing p {
    color: #222;
    font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;
}

.jumbotron p {
    font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.marketing h4 {
    font-size: 24px;
}

.marketing p {
    font-size: 16px;
}

.alt-1 { 
    background: #FFFCDD;
    opacity: 0.7;
    border-radius: 6px;
}

.alt-2 {
    background: #DCF7F3;
    opacity: 0.7;
    border-radius: 6px;
    float: right;
}

.footer {
    opacity: 0.5;
}

.footer p {
    font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;
    color: white;
}

ul.nav li a {
    font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;
}

p a {
    color: #555;
    font-weight: bold;
    border-bottom: 1px dotted #555;
}
